#mail {
  i {
    color: #02688a;
  }
}

#github {
  i {
    color: #23292d;
  }
}

#linkedin {
  i {
    color: #0277b5;
  }
}

#nodejs {
  i {
    color: #026e01;
  }
}

#elixir {
  i {
    color: #4e2a8e;
  }
}

#postgresql {
  i {
    color: #336890;
  }
}

#phoenix {
  i {
    color: #f15735;
  }
}

#graphql {
  i {
    color: #e00198;
  }
}

#vue {
  i {
    color: #41b883;
  }
}

#travis {
  i {
    color: #39aa56;
  }
}

#docker {
  i {
    color: #007bff;
  }
}

#kubernetes {
  i {
    color: #3371e3;
  }
}

#helm {
  i {
    color: #4786ca;
  }
}
