$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/_variables";
@import "~@fortawesome/fontawesome-free/scss/_mixins";
@import "~@fortawesome/fontawesome-free/scss/_core";
@import "~@fortawesome/fontawesome-free/scss/_larger";
@import "~@fortawesome/fontawesome-free/scss/_fixed-width";
@import "~@fortawesome/fontawesome-free/scss/_list";
@import "~@fortawesome/fontawesome-free/scss/_bordered-pulled";
@import "~@fortawesome/fontawesome-free/scss/_animated";
@import "~@fortawesome/fontawesome-free/scss/_rotated-flipped";
@import "~@fortawesome/fontawesome-free/scss/_stacked";

.#{$fa-css-prefix}-code:before {
  content: fa-content($fa-var-code);
}

.#{$fa-css-prefix}-envelope:before {
  content: fa-content($fa-var-envelope);
}

.#{$fa-css-prefix}-github:before {
  content: fa-content($fa-var-github);
}

.#{$fa-css-prefix}-linkedin:before {
  content: fa-content($fa-var-linkedin);
}

@import "~@fortawesome/fontawesome-free/scss/_screen-reader";

@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

#mail {
  i {
    color: #02688a;
  }
}

#github {
  i {
    color: #23292d;
  }
}

#linkedin {
  i {
    color: #0277b5;
  }
}
