$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/_functions";
@import "~@fortawesome/fontawesome-free/scss/_variables";

$fa-icons: (
  "envelope": $fa-var-envelope,
);

$fa-brand-icons: (
  "github": $fa-var-github,
);

@import "~@fortawesome/fontawesome-free/scss/_mixins";
@import "~@fortawesome/fontawesome-free/scss/_core";
@import "~@fortawesome/fontawesome-free/scss/_icons";
@import "~@fortawesome/fontawesome-free/scss/_screen-reader";

@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

#mail {
  i {
    color: #2083a4;
  }
}

#github {
  i {
    color: #23292d;
  }
}

@media (prefers-color-scheme: dark) {
  #mail {
    i {
      color: #53afff;
    }
  }

  #github {
    i {
      color: white;
    }
  }
}
