$background-color: white;
$text-color: black;
$secondary-text: #565656;
$link-color: #1b6ca8;

$dark-background-color: black;
$dark-text-color: white;
$dark-secondary-text: #989898;
$dark-link-color: #9ad1fd;

@import "./icons.scss";

body {
  font-family: "Roboto", sans-serif;
  background-color: $background-color;
  color: $text-color;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  min-width: 300px;
  flex-basis: 25%;
  flex-grow: 0;

  margin: {
    left: 3em;
    right: 3em;
  }
}

section {
  margin: {
    top: 3em;
  }
}

footer {
  margin-top: 64px;

  p {
    font-size: 12px;
    color: #565656;
  }
}

h1 {
  font-size: 2.5em;
}

h2 {
  margin: {
    top: 1.5em;
    bottom: 1.5em;
  }
  font-weight: normal;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: $link-color;

  i {
    color: $text-color;
  }
}

a:visited {
  color: $link-color;

  i {
    color: $text-color;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-background-color;
    color: $dark-text-color;
  }

  a {
    color: $dark-link-color;

    i {
      color: $dark-text-color;
    }
  }

  a:visited {
    color: $dark-link-color;

    i {
      color: $dark-text-color;
    }
  }

  footer p {
    color: $dark-secondary-text;
  }
}
